# for와 range 사용하기

```
for 변수 in range(횟수):
    반복할 코드
```

In [5]:
for i in range(10):
    print("Hello World!", i)

Hello World! 0
Hello World! 1
Hello World! 2
Hello World! 3
Hello World! 4
Hello World! 5
Hello World! 6
Hello World! 7
Hello World! 8
Hello World! 9

```
for 변수 in range(시작, 끝, 증가폭):
    반복할 코드
```

In [6]:
for i in range(0, 10, 2):
    print("Hello World!", i)

Hello World! 0
Hello World! 2
Hello World! 4
Hello World! 6
Hello World! 8

In [7]:
for i in range(10, 0, -1):
    print('Hello World!', i)

Hello World! 10
Hello World! 9
Hello World! 8
Hello World! 7
Hello World! 6
Hello World! 5
Hello World! 4
Hello World! 3
Hello World! 2
Hello World! 1

In [8]:
# 참고. enumerate는 시퀀스 객체의 값뿐만 아니라 인덱스까지 반환해줌
for i, v in enumerate(range(0, 10, 2)):
    print("Hello World", i, v)

Hello World 0 0
Hello World 1 2
Hello World 2 4
Hello World 3 6
Hello World 4 8

```
for 변수 in 시퀀스 객체:
    반복할 코드
```

In [9]:
for i in "Hello":
    print(i)

H
e
l
l
o

In [10]:
for i in [1, 2, 3]:
    print(i)

1
2
3

In [11]:
for i in (1, 2, 3):
    print(i)

1
2
3

```
for i in enumerate(시퀀스객체):
    반복할 코드
```

In [12]:
for i, v in enumerate("Hello"):
    print(i, v)

0 H
1 e
2 l
3 l
4 o

```
for i in reversed(시퀀스객체):
    반복할 코드
```

In [13]:
for i in reversed((1, 2, 3)):
    print(i)

3
2
1

In [14]:
for i in reversed("Python"):
    print(i)

n
o
h
t
y
P

# Workshop

**구구단 출력 프로그램**
- 표준 입력으로 정수가 입력됩니다. 입력된 정수의 구구단을 출력하는 프로그램을 만드세요(input에서 안내 문자열은 출력하지 않아야 합니다). 출력형식은 숫자 * 숫자 = 숫자 처럼 만들고 숫자와 *, = 사이는 공백을 한칸 띄웁니다.

```
입력 예
2

결과
2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
```

In [19]:
x = int(input()) # 몇단

for y in range(1, 10):
    print(x, '*', y, '=', x*y)

9
9 * 1 = 9
9 * 2 = 18
9 * 3 = 27
9 * 4 = 36
9 * 5 = 45
9 * 6 = 54
9 * 7 = 63
9 * 8 = 72
9 * 9 = 81

In [31]:
# option 1. (format 함수 이용)
x = int(input()) # 몇단

for y in range(1, 10):
    print("{0} * {1} = {2}".format(x, y, x*y))

5
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45

In [24]:
# option 2. (서식 지정자 %)
x = int(input()) # 몇단

for y in range(1, 10):
    print("%d * %d = %d" % (x, y, x*y))

5
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45

In [32]:
# option 3. (문자열 포매팅(formatting) f를 붙이는 방법)
x = int(input()) # 몇단

for y in range(1, 10):
    print(f"{x} * {y} = {x*y}")

6
6 * 1 = 6
6 * 2 = 12
6 * 3 = 18
6 * 4 = 24
6 * 5 = 30
6 * 6 = 36
6 * 7 = 42
6 * 8 = 48
6 * 9 = 54

# while 반복문 사용하기

```
초기식
while 조건식:
    반복할 코드
    변화식
```

In [35]:
# hello world 를 10번 출력
i = 10
while i > 0 :
    print("Hello world!", i)
    i -= 1

Hello world! 10
Hello world! 9
Hello world! 8
Hello world! 7
Hello world! 6
Hello world! 5
Hello world! 4
Hello world! 3
Hello world! 2
Hello world! 1

# Workshop

- 주사위 던지고 눈을 출력하는 동작을 계속 반복하다가
- "3"이 나왔을때 멈추기

In [36]:
import random

In [42]:
x = random.randint(1, 6) # 1에서 6사이의 무작위수를 추출

3

In [45]:
x = 0
while x != 3 :
    x = random.randint(1, 6) # 반복할 코드 + 변화식
    print(x)

2
4
2
6
4
5
3

**교통카드 잔액 출력하기**
- 표준입력으로 금액(정수)이 입력됩니다. 1회당 요금은 1,350이고, 교통카드를 사용했을 때마다의 잔액을 각 줄에 출력하는 프로그램을 만드세요(input에서 안내 문자열은 출력하지 않아야 합니다). 단, 최초 금액은 출력하지 않아야 합니다. 그리고 잔액은 음수가 될 수 없으며 잔액이 부족하면 출력을 끝냅니다.

In [53]:
balance = int(input())

while balance >= 1350:   
    balance -= 1350
    print(balance)

30000
28650
27300
25950
24600
23250
21900
20550
19200
17850
16500
15150
13800
12450
11100
9750
8400
7050
5700
4350
3000
1650
300

**3으로 끝나는 숫자만 출력하기**
- 0과 73 사이의 숫자 중 3으로 끝나는 숫자만 출력되게 만드세요.
```
출력예
3 13 23 33 43 53 63 73 
```

In [59]:
for i in range(74):
    if (i % 10) == 3:
        print(i, end=" ")

3 13 23 33 43 53 63 73

In [62]:
# break 문 사용법
i = 0
while True:
    print(i)
    i += 1
    if i == 10:
        break

0
1
2
3
4
5
6
7
8
9

In [64]:
# continue
for i in range(74):
    if (i % 10) != 3:
        continue
    else:
        print(i, end=" ")

3 13 23 33 43 53 63 73

In [68]:
i = 0
while True:
    if i % 10 != 3:
        i += 1
        continue
        
    if i > 73:
        break
    print(i, end= " ")
    i += 1

3 13 23 33 43 53 63 73

**알파벳별 빈도 사전 등록**
- 다음의 주어진 문자열 s에서 알파벳 별 빈도를 사전형인 d에 등록하는 파이썬 코드블럭을 작성하시오. 

```
s = ‘life is short, so python is easy.’ 
punct = ‘,. ’ 
d = {} 

결과 print(d) (순서는 상관 없음)
{'a': 1, 'e': 2, 'f': 1, 'i': 3, 'h': 2, 'l': 1, 'o': 3, 'n': 1, 'p': 1, 's': 5, 'r': 1, 't': 2, 'y': 2}

```

In [81]:
s = 'life is short, so python is easy.'
punct = ',. '
d = {}

for c in s:
    # print(c)
    if c in punct:
        continue
    if c not in d: # dictionary에 알파벳이 한번도 등록된 경우
        d[c] = 1 # d['l'] = 1, d['i'] = 1, .....
    else:          # dicionary에 알파벳이 이미 등록된 경우
        d[c] += 1 # d['i'] = 2

In [82]:
d

{'l': 1,
 'i': 3,
 'f': 1,
 'e': 2,
 's': 5,
 'h': 2,
 'o': 3,
 'r': 1,
 't': 2,
 'p': 1,
 'y': 2,
 'n': 1,
 'a': 1}

# 중첩 루프 사용하기

In [87]:
for j in range(10):
    for i in range(5):
        print('*', end=" ")
    print()

* * * * *
* * * * *
* * * * *
* * * * *
* * * * *
* * * * *
* * * * *
* * * * *
* * * * *
* * * * *

```
# 계단식으로 별 출력하기 (1)
*
**
***
****
*****
```

In [90]:
for i in range(5): # i : 0->1->2->3->4
    for j in range(i+1):
        print('*', end='') # 첫번째 행에서는 별한개, 두번째행에서는 별두개.....
    print()

*
**
***
****
*****

```
# 계단식으로 별 출력하기 (2)
*****
 ****
  ***
   **
    *
```

In [97]:
for i in range(5): # i : 0->1->2->3->4
    # 1. 공백
    for j in range(i): # j : 0->1->2->3->4
        print(" ", end='') 
    
    # 2. 별
    for k in range(5-i): # k : 5->4->3->2->1
        print("*", end='')    
    print()

*****
 ****
  ***
   **
    *

```
# 별로 산만들기
    *    
   ***   
  *****  
 ******* 
*********
```

In [101]:
for i in range(5): # i : 0->1->2->3->4
    # 1. 공백
    for j in range(4-i):# j : 4->3->2->1->0
        print(" ", end="")

    # 2. 별
    for k in range(2*i+1): # k : 1->3->5->7->9
        print("*", end="")
    print()

    *
   ***
  *****
 *******
*********

In [115]:
for i in range(5): # i : 0->1->2->3->4
    # 1. 공백
    for j in range(i): # j : 0->1->2->3->4
        print(" ", end='') 
    
    # 2. 별
    for k in range(5-i): # k : 5->4->3->2->1
        print("*", end='')    
    print()

*****
 ****
  ***
   **
    *

**FizzBuzz 문제**

- 1에서 100까지 출력
- 3의 배수는 Fizz 출력
- 5의 배수는 Buzz 출력
- 3과 5의 공배수는 FizzBuzz 출력

In [108]:
for i in range(1, 101):
    if (i % 3)==0 and (i % 5)==0:
        print('FizzBuzz')
    elif (i % 3) == 0: # 3의 배수
        print('Fizz')
    elif (i % 5) == 0: # 5의 배수
        print('Buzz')
    else:
        print(i)

1
2
Fizz
4
Buzz
Fizz
7
8
Fizz
Buzz
11
Fizz
13
14
FizzBuzz
16
17
Fizz
19
Buzz
Fizz
22
23
Fizz
Buzz
26
Fizz
28
29
FizzBuzz
31
32
Fizz
34
Buzz
Fizz
37
38
Fizz
Buzz
41
Fizz
43
44
FizzBuzz
46
47
Fizz
49
Buzz
Fizz
52
53
Fizz
Buzz
56
Fizz
58
59
FizzBuzz
61
62
Fizz
64
Buzz
Fizz
67
68
Fizz
Buzz
71
Fizz
73
74
FizzBuzz
76
77
Fizz
79
Buzz
Fizz
82
83
Fizz
Buzz
86
Fizz
88
89
FizzBuzz
91
92
Fizz
94
Buzz
Fizz
97
98
Fizz
Buzz

# 리스트 응용하기

- append : 요소 하나를 추가
- extend : 리스트를 연결하여 확장
- insert : 특정 인덱스에 요소 추가

In [121]:
a = [10, 20, 30]

In [122]:
a.append(500)

In [123]:
a

[10, 20, 30, 500]

In [124]:
a = []
a.append(10)
a

[10]

In [131]:
a = [10, 20, 30]
b = [40, 50, 60]
a.extend(b)
a

[10, 20, 30, 40, 50, 60]

In [133]:
# 참고 (+ 연산은 extend와 다르게 원본이 그대로 유지)
a = [10, 20, 30]
b = [40, 50, 60]
a+b

[10, 20, 30, 40, 50, 60]

In [134]:
a

[10, 20, 30]

In [135]:
b

[40, 50, 60]

In [136]:
a.insert(1, 500)
a

[10, 500, 20, 30]

- insert(0, 요소) : 리스트의 맨 처음에 요소를 추가 
- insert(len(리스트), 요소) : 리스트의 맨 끝에 요소를 추가

In [137]:
a = [10, 20, 30]
a.insert(0, 100)
a

[100, 10, 20, 30]

In [138]:
len(a)

4

In [139]:
a.insert(len(a), 1000)
a

[100, 10, 20, 30, 1000]

In [140]:
a.insert(-1, 2000)
a

[100, 10, 20, 30, 2000, 1000]

- pop : 마지막 요소 또는 특정 인덱스의 요소를 삭제
- remove : 특정 값을 찾아서 삭제

In [142]:
a = [10, 20, 30]
x = a.pop()
x

30

In [143]:
a

[10, 20]

In [144]:
a = [10, 20, 30]
x = a.pop(1)
x

20

In [145]:
a

[10, 30]

In [146]:
a = [10, 20, 30]
a.remove(30)

In [147]:
a

[10, 20]

- index(값) : 리스트에서 특정 값의 인덱스 구함
- count(값) : 리스트에서 특정 값의 개수를 구함

In [148]:
a = [10, 20, 30]
a.index(20)

1

In [149]:
a.index(40)

ValueError: 40 is not in list

In [150]:
a = [10, 10, 20, 30, 30, 30]
a.count(30)

3

- reverse() : 리스트에서 요소의 순서를 반대로 뒤집음
- sort() : 리스트의 요소를 정렬함(오름차순 기본값)
- clear() : 리스트의 모든 요소를 삭제함

In [151]:
a = [10, 20, 30]
a.reverse()

In [152]:
a

[30, 20, 10]

In [153]:
# 참고 : 슬라이스로 순서를 바꿈
a[-1::-1]

[10, 20, 30]

In [157]:
a = [10, 50, -1, 0, 4, 10000]
a.sort(reverse=True) # 기본값은 reverse=False
a

[10000, 50, 10, 4, 0, -1]

- =
- copy()

In [158]:
a = [0, 0, 0, 0]
b = a

In [159]:
a is b

True

In [160]:
b[1] = 1000
b

[0, 1000, 0, 0]

In [161]:
a

[0, 1000, 0, 0]

In [162]:
a = [0, 0, 0, 0]
b = a.copy()

In [163]:
a is b

False

In [164]:
b[1] = 1000
b

[0, 1000, 0, 0]

In [165]:
a

[0, 0, 0, 0]

- copy()와 deepcopy()

In [166]:
a = [[10, 20], [30, 40]] # 2차원 리스트
b = a

In [167]:
a

[[10, 20], [30, 40]]

In [168]:
b

[[10, 20], [30, 40]]

In [170]:
b[0][0] = 1000 # 2차원 리스트를 2번 색인해서 원소값에 접근

In [171]:
b

[[1000, 20], [30, 40]]

In [172]:
a

[[1000, 20], [30, 40]]

In [173]:
a = [[10, 20], [30, 40]] # 2차원 리스트
b = a.copy()

In [174]:
b[0][0] = 1000
b

[[1000, 20], [30, 40]]

In [175]:
a

[[1000, 20], [30, 40]]

In [176]:
import copy

In [177]:
a = [[10, 20], [30, 40]] # 2차원 리스트
b = copy.deepcopy(a)

In [178]:
a

[[10, 20], [30, 40]]

In [179]:
b

[[10, 20], [30, 40]]

In [180]:
b[0][0] = 1000
b

[[1000, 20], [30, 40]]

In [181]:
a

[[10, 20], [30, 40]]

**반복문으로 리스트 요소 출력하기**

- for 요소 in 리스트:

In [182]:
a = [10, 20, 30]
for v in a:
    print(v)

10
20
30

In [184]:
for i in range(len(a)):
    print(a[i])

10
20
30

- for 인덱스, 요소 in enumerate(리스트):

In [185]:
a = [10, 20, 30]
for i, v in enumerate(a):
    print(i, v)

0 10
1 20
2 30

In [186]:
a = [10, 20, 30]
for i, v in enumerate(a, start=1):
    print(i, v)

1 10
2 20
3 30

**리스트의 가장 작은 수, 가장 큰수, 합계**

In [187]:
a = [10, 20, 30]

In [188]:
min(a)

10

In [189]:
max(a)

30

In [190]:
sum(a)

60

In [191]:
sum(a)/len(a) # 평균

20.0

**리스트 표현식(List Comprehension)**

- [식 for 변수 in 리스트]

In [195]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [197]:
# 1. for문 이용, list의 append()함수 이용
l = []
for i in range(10):
    l.append(i*2)
l

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

In [203]:
# 2. 리스트 표현식
[i*2 for i in range(10)]

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

In [ ]:
# 단어의 길이를 리스트로 구하기
word_list = ["python", "is", "easy"]

In [ ]:
# 1. for문 이용, list의 append()함수 이용

In [204]:
word_count = []
word_list = ["python", "is", "easy"]
for word in word_list:
    word_count.append(len(word))
word_count

[6, 2, 4]

In [ ]:
# 2. 리스트 표현식

In [205]:
[len(word) for word in word_list]

[6, 2, 4]

- [식 for 변수 in 리스트 if 조건식]

In [207]:
[i for i in range(10) if i % 2 == 0]

[0, 2, 4, 6, 8]

In [208]:
l = []
for i in range(10):
    if i % 2 == 0:
        l.append(i)
l

[0, 2, 4, 6, 8]

# Workshop

**리스트에서 특정 요소만 뽑아내기**
- 리스트 a에 들어있는 문자열 중에서 길이가 5인 것들만 리스트 형태로 출력되게 만드세요

In [210]:
a = ['alpha', 'bravo', 'charlie', 'delta', 'echo', 'foxtrot', 'golf', 'hotel', 'india']

In [212]:
l = []
for i in a: # 9번 순회
    if len(i) == 5:
        l.append(i)
l

['alpha', 'bravo', 'delta', 'hotel', 'india']

In [214]:
result = [i for i in a if len(i) == 5]
print(result)

['alpha', 'bravo', 'delta', 'hotel', 'india']

**리스트에서 map 사용하기**

In [215]:
a = [1.2, 2.5, 3.7, 4.6]
l = []
for i in a:
    l.append(int(i))
l

[1, 2, 3, 4]

In [217]:
# 위의 코드와 동일한 결과
# 그러나 for문을 사용하지 않고 
# map을 사용해서일과 적용
list(map(int, a))

[1, 2, 3, 4]

# 튜플 응용하기

- index(값) : 특정값의 인덱스 구하기

In [219]:
a = (10, 20, 30)
a.index(30)

2

- count(값) : 특정값의 개수 구하기

In [220]:
a = (10, 10, 10, 20, 20, 30)
a.count(10)

3

# Workshop

**자동 로또 번호 생성기**
- 1~45 숫자 중에서 6개를 고르는 로또 번호를 자동으로 만들어 주는 프로그램 작성하기
- 사용자가 입력한 개수만큼 번호 쌍을 생성하기(예: 5를 입력하면 5 세트의 번호가 생성되도록 하기)
- 한번 뽑힌것은 뽑히지 않도록 하고, 최종 출력은 오름차순 정렬해서 보여주기

In [237]:
import random

count = int(input("로또 몇회 뽑으시겠습니까? : "))

total = []
for i in range(count):
    lotto = []
    while True:
        pick = random.randint(1, 45)
        if pick not in lotto:
            lotto.append(pick)

        if len(lotto) >= 6:        
            break
    lotto.sort()    
    total.append(lotto)
total

로또 몇회 뽑으시겠습니까? : 6

[[5, 27, 35, 36, 43, 45],
 [6, 7, 19, 21, 44, 45],
 [11, 30, 32, 33, 37, 40],
 [2, 3, 4, 5, 38, 45],
 [21, 24, 27, 28, 30, 33],
 [11, 15, 18, 28, 36, 43]]

In [238]:
import random

count = int(input("로또 몇회 뽑으시겠습니까? : "))

total = []
for i in range(count):
    lotto = random.sample(range(1, 46), 6)        
    lotto.sort()    
    total.append(lotto)
total

로또 몇회 뽑으시겠습니까? : 5

[[13, 15, 16, 18, 27, 42],
 [1, 8, 10, 23, 30, 33],
 [2, 5, 6, 15, 26, 32],
 [6, 7, 12, 13, 21, 29],
 [11, 17, 20, 24, 30, 32]]

# 문자열 응용하기

- replace('바꿀문자열', '새문자열') : 문자열 바꾸기

In [240]:
s = "Hello, World!"
result = s.replace('World!', 'Python!')
result

'Hello, Python!'

In [241]:
s

'Hello, World!'

- split('기준문자열') : 문자열 분리하기

In [243]:
s = 'apple pear grape pineapple orange'
result = s.split()
result

['apple', 'pear', 'grape', 'pineapple', 'orange']

In [244]:
s = 'apple.pear.grape.pineapple.orange'
result = s.split('.')
result

['apple', 'pear', 'grape', 'pineapple', 'orange']

- '구분자'.join(리스트)

In [248]:
'-'.join(result)

'apple-pear-grape-pineapple-orange'

- upper() : 대문자로 바꿈
- lower() : 소문자로 바꿈
- strip() : 문자열 양쪽에 있는 연속된 모든 공백을 삭제
- lstrip() : 문자열 왼쪽에 있는 연속된 모든 공백을 삭제
- rstrip() : 문자열 오른쪽에 있는 연속된 모든 공백을 삭제

In [249]:
'python'.upper()

'PYTHON'

In [250]:
'PYTHON'.lower()

'python'

In [251]:
'     Python     '.strip()

'Python'

In [252]:
'     Python     '.lstrip()

'Python     '

In [253]:
'     Python     '.rstrip()

'     Python'

In [254]:
'   ,...  Python  ,.,.   '.strip(',. ')

'Python'

In [255]:
'python'.center(20) # 20(길이)만큼의 전체 사이즈를 확보하고 문자열을 중간에 배치

'       python       '

- index('찾을문자열') : 문자열에서 특정문자열을 찾아서 인덱스를 반환하고, 없으면 에러
- find('찾을문자열') : 문자열에서 특정문자열을 찾아서 인덱스를 반환하고, 없으면 -1 반환

In [256]:
s = 'apple pear grape pineapple orange'
s.index('pl') # 왼쪽부터 찾음

2

In [257]:
s.rindex('pl') # 오른쪽부터 찾음

23

In [258]:
s.index('pppp')

ValueError: substring not found

In [259]:
s.find('pppp')

-1

In [260]:
s.find('pl') # 왼쪽부터 찾음

2

In [261]:
s.rfind('pl') # 오른쪽부터 찾음

23

- count('문자열') : 현재 문자열에서 특정 문자열이 몇번 나오는지 알아냄

In [262]:
s.count('pl')

2

**서식 지정자**

In [267]:
name = '장경희'
"나는 %s 입니다." % name

'나는 장경희 입니다.'

In [272]:
age = 31
"나이는 %d살 입니다." % age

'나이는 31살 입니다'

In [278]:
score = 4.2
"내 학점은 %.2f 입니다." % score

'내 학점은 4.20 입니다.'

In [281]:
name = '장경희'
age = 31
score = 4.2
"나는 %s 입니다. 나이는 %d살 입니다. 내 학점은 %.2f 입니다." % (name, age, score)

'나는 장경희 입니다. 나이는 31살 입니다. 내 학점은 4.20 입니다.'

**format 함수**

In [282]:
name = '장경희'
"나는 {} 입니다.".format(name)

'나는 장경희 입니다.'

**f 포매팅**