# 논리 연산자

- a and b
- a or b
- not a

In [1]:
True and True

True

In [2]:
True and False

False

In [3]:
True or False

True

In [4]:
False or True

True

In [5]:
not True

False

# 비교 연산자와 논리 연산자를 함께 사용

In [6]:
10 == 10 # 비교 연산 1

True

In [7]:
10 != 5 # 비교 연산 2

True

In [8]:
10 == 10 and 10 != 5

True

In [9]:
10 == 10 and 10 == 5

False

In [12]:
# 자료형 변환
# int(1.5)
# float(1)
# str(1)

'1'

In [13]:
bool(1)

True

In [14]:
bool(0)

False

# Workshop

**합격 여부 출력하기**
- 국어, 영어, 수학, 과학 점수가 있을 때 한 과목이라도 50점 미만이면 불합격
이라고 정했습니다. 다음 소스 코드를 완성하여 합격이면 True, 불합격이
면 False가 출력되게 만드세요.

In [15]:
korean = 92 
english = 47 
mathmatics = 86 
science = 81

In [17]:
print(korean >= 50 and english >= 50 and mathmatics >= 50 and science >= 50)

False

In [19]:
not(korean < 50 or english < 50 or mathmatics < 50 or science < 50)

False

* all(), any()

In [22]:
is_pass = [korean>=50, english>=50, mathmatics>=50, science>=50]

In [23]:
all(is_pass)

False

In [24]:
is_fail = [korean<50, english<50, mathmatics<50, science<50]
is_fail

[False, True, False, False]

In [26]:
not(any(is_fail))

False

# 문자열 사용하기

In [31]:
s1 = 'hello'
s2 = "hello"
s3 = '''hello'''
s4 = """hello"""

str

In [32]:
print(s1, s2, s3, s4)

hello hello hello hello

hello "python"

In [33]:
s1 = 'hello "python"'
type(s1)

str

In [35]:
print(s1)

hello "python"

hello 'python'

In [36]:
s2 = "hello 'python'"
print(s2)

hello 'python'

In [38]:
s3 = """hello "python" """
print(s3)

hello "python"

In [42]:
s4 = '''hello 'python' '''
print(s4)

hello 'python'

here is
python world
it is
real!!!

In [43]:
s5 = '''here is
python world
it is
real!!!'''
print(s5)

here is
python world
it is
real!!!

In [44]:
s6 = """here is
python world
it is
real!!!"""
print(s6)

here is
python world
it is
real!!!

In [50]:
s6.count('\n')

3

hello 'python'

In [51]:
s7 = 'hello \'python\''
print(s7)

hello 'python'

# Workshop

'Python' is a "programming language"
that lets you work quicky
and
integrate systems more effectively.

In [52]:
s = """'Python' is a "programming language"
that lets you work quicky
and
integrate systems more effectively."""

print(s)

'Python' is a "programming language"
that lets you work quicky
and
integrate systems more effectively.

# 리스트와 튜플

- 리스트 = [값, 값, 값, ....]

In [53]:
scores = [90, 95, 100, 80, 70, 100]
scores

[90, 95, 100, 80, 70, 100]

In [54]:
type(scores)

list

In [55]:
person = ["James", 17, 175.3, True]
person

['James', 17, 175.3, True]

**빈 리스트 만들기**
- 리스트 = []
- 리스트 = list()

In [57]:
empty_list1 = []
empty_list1

[]

In [58]:
empty_list2 = list()
empty_list2

[]

- range(횟수)

In [59]:
range(10)

range(0, 10)

- 리스트 = list(range(횟수))

In [63]:
a = list(range(10))
a

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

- 리스트 = list(range(시작, 끝))

In [64]:
b = list(range(5, 10))
b

[5, 6, 7, 8, 9]

- 리스트 = list(range(시작, 끝, 증가폭))

In [65]:
c = list(range(0, 10, 2))
c

[0, 2, 4, 6, 8]

In [66]:
d = list(range(10, 0, -1))
d

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

- 튜플 = (값, 값, 값, ....)
- 튜플 = 값, 값, 값, ....

In [67]:
a = (1, 2, 3, 4)
a

(1, 2, 3, 4)

In [68]:
type(a)

tuple

In [69]:
b = 1, 2, 3, 4
b

(1, 2, 3, 4)

In [70]:
type(b)

tuple

In [72]:
c = (1,)
type(c)

tuple

- 튜플 = tuple(range(횟수))

In [73]:
a = tuple(range(10))

In [74]:
a

(0, 1, 2, 3, 4, 5, 6, 7, 8, 9)

- 튜플 = tuple(range(시작, 끝))

In [75]:
b = tuple(range(5, 12))
b

(5, 6, 7, 8, 9, 10, 11)

- 튜플 = tuple(range(시작, 끝, 증가폭))

In [76]:
c = tuple(range(5, 12, 3))
c

(5, 8, 11)

In [79]:
# 리스트를 튜플로
a = [1, 2, 3]
tuple_a = tuple(a)
tuple_a

(1, 2, 3)

In [80]:
# 튜플을 리스트로
b = (1, 2, 3)
list_b = list(b)
list_b

[1, 2, 3]

# Workshop

**range로 리스트 만들기**
- [5, 3, 1, -1, -3, -5, -7, -9]가 출력되게 만드세요

In [81]:
a = list(range(5, -10, -2))
print(a)

[5, 3, 1, -1, -3, -5, -7, -9]

**range로 튜플 만들기**
- 표준입력으로 정수가 입력됩니다. range의 시작하는 숫자는 -10, 끝나는 숫자는 10이며 입력된 정수만큼 증가하는 숫자가 들어가도록 튜플을 만들고, 해당 튜플을 출력하는 프로그램을 만드세요(input에서 안내 문자열은 출력하지 않아야 합니다.)
- 입력 : 2, 출력: (-10, -8, -6, -4, -2, 0, 2, 4, 6, 8)

In [82]:
step = int(input())
print(tuple(range(-10, 10, step)))

2
(-10, -8, -6, -4, -2, 0, 2, 4, 6, 8)

# 시퀀스 자료형 활용하기

- 시퀀스 자료형 : list, tuple, range, str

- 값 in 시퀀스 객체

In [83]:
a = [1, 2, 3, 4, 5]
1 in a

True

In [84]:
10 in a

False

In [85]:
10 not in a

True

In [86]:
b = (1, 2, 3, 4, 5)
10 in b

False

In [87]:
c = "Hello"
'H' in c

True

In [88]:
'h' in c

False

In [90]:
1 in range(10)

True

In [91]:
10 in range(10)

False

- 시퀀스 객체1 + 시퀀스 객체2

In [92]:
a = [1, 2, 3, 4, 5]
b = [6, 7, 8, 9, 10]

In [93]:
a + b

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [94]:
c = (1, 2, 3, 4, 5)
d = (6, 7, 8, 9, 10)

In [95]:
c + d

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

In [96]:
range(5) + range(5)

TypeError: unsupported operand type(s) for +: 'range' and 'range'

In [97]:
list(range(5)) + list(range(5))

[0, 1, 2, 3, 4, 0, 1, 2, 3, 4]

In [100]:
s1 = "Hello "
s2 = "World!"

In [101]:
s1 + s2

'Hello World!'

- 시퀀스 객체 * 정수
- 정수 * 시퀀스 객체

In [102]:
[1, 2, 3] * 3

[1, 2, 3, 1, 2, 3, 1, 2, 3]

In [103]:
3 * [1, 2, 3]

[1, 2, 3, 1, 2, 3, 1, 2, 3]

In [108]:
(1, 2, 3) * 3

(1, 2, 3, 1, 2, 3, 1, 2, 3)

In [109]:
3 * (1, 2, 3)

(1, 2, 3, 1, 2, 3, 1, 2, 3)

In [104]:
range(5) * 2

TypeError: unsupported operand type(s) for *: 'range' and 'int'

In [105]:
list(range(5)) * 2

[0, 1, 2, 3, 4, 0, 1, 2, 3, 4]

In [106]:
"Hello " * 3

'Hello Hello Hello '

In [107]:
3 * "Hello "

'Hello Hello Hello '

- len(시퀀스 객체)

In [110]:
a = [1, 2, 3]

In [111]:
len(a)

3

In [112]:
b = (1, 2, 3, 4, 5)

In [113]:
len(b)

5

In [114]:
len(range(10))

10

In [115]:
len("Hello")

5

- 시퀀스[인덱스]

In [116]:
scores = [90, 80, 100, 90] # 2번째에 있는 영어 점수만 알고 싶을 때

In [117]:
scores[1] # 인덱스 0부터 시작을하므로 scores 리스트에서 두번 째 요소를 가져옴

80

In [125]:
scores[3] # 마지막 원소

90

In [126]:
scores[-1] # 음수 인덱스 (마지막 원소를 가져올 때 편리)

90

In [128]:
len(scores) - 1

3

In [129]:
scores[len(scores) - 1]

90

In [130]:
b = (1, 2, 3)

In [131]:
b[4]

IndexError: tuple index out of range

In [135]:
list(range(10, 100, 10))

[10, 20, 30, 40, 50, 60, 70, 80, 90]

In [137]:
range(10, 100, 10)[2]

30

In [138]:
range(10, 100, 10)[len(range(10, 100, 10))-1]

90

In [139]:
range(10, 100, 10)[-1]

90

In [140]:
s = "Hello"

In [141]:
s[0]

'H'

In [142]:
s[4]

'o'

In [143]:
s[-1] # 마지막 요소에 접근할 때는 음수 인덱스를 사용하면 편리

'o'

In [144]:
s[3]

'l'

In [145]:
s[-2] # 뒤에서 두번째

'l'

- 시퀀스 객체[인덱스] = 값
- 위의 문법은 list 객체에서만 유효. tuple, range, str 에서는 요소 값을 변경할 수 없음

In [146]:
scores = [90, 100, 100, 70]

In [147]:
scores[0] = 95

In [148]:
scores

[95, 100, 100, 70]

In [149]:
shape = (1200, 900)
shape[0] = 1000

TypeError: 'tuple' object does not support item assignment

In [150]:
range(10)[0] = 100

TypeError: 'range' object does not support item assignment

In [151]:
s = "Hello World!"
s[0] = 'h'

TypeError: 'str' object does not support item assignment

- del 시퀀스객체[인덱스]
- 위의 문법은 list 객체에서만 유효. tuple, range, str 에서는 요소 값을 변경할 수 없음

In [152]:
a = [1, 2, 3, 4]

In [153]:
del a[2]

In [154]:
a

[1, 2, 4]

In [155]:
b = (1, 2, 3, 4)
del b[2]

TypeError: 'tuple' object doesn't support item deletion

In [156]:
s = "Hello"
del s[1]

TypeError: 'str' object doesn't support item deletion

- 시퀀스객체[시작인덱스:끝인덱스]

In [157]:
a = [10, 20, 30, 40, 50]
a[0:3] # 3번째는 포함 안됨 (0~2번째까지 가져오는 문법)

[10, 20, 30]

In [158]:
a[:3] # 0번째는 생략 가능

[10, 20, 30]

In [159]:
a[2:5]

[30, 40, 50]

In [160]:
a[2:] # 마지막번째도 생략 가능

[30, 40, 50]

In [161]:
a[:] # 시작인덱스와 끝인덱스를 모두 생략하면 처음부터 끝까지 가져옴

[10, 20, 30, 40, 50]

In [162]:
a[3:-1]

[40]

- 시퀀스객체[시작인덱스:끝인덱스:증가폭]

In [163]:
a = list(range(0, 100, 10))
a

[0, 10, 20, 30, 40, 50, 60, 70, 80, 90]

In [164]:
a[0:5]

[0, 10, 20, 30, 40]

In [165]:
a[0:5:2]

[0, 20, 40]

In [166]:
a[-1::-1]

[90, 80, 70, 60, 50, 40, 30, 20, 10, 0]

In [167]:
a

[0, 10, 20, 30, 40, 50, 60, 70, 80, 90]

- del 시퀀스객체[시작:끝]

# Workshop

**최근 3년간 인구 출력하기**
- 리스트 year에 연도, population에 서울시 인구수가 저장되어 있습니다. 
- 아래 소스 코드를 완성하여 최근 3년간 연도와 인구수를 각각 리스트로 출력되게 만드세요.

In [168]:
year = [2011, 2012, 2013, 2014, 2015, 2016, 2017, 2018]
population = [10249679, 10195318, 10143645, 10103233, 10022181, 9930616, 9857426, 9838892]

In [173]:
print(year[-3:])
print(population[-3:])

[2016, 2017, 2018]
[9930616, 9857426, 9838892]

In [178]:
# year와 population을 연결지어서 한꺼번에 출력할 수 있음
list(zip(year[-3:], population[-3:]))

[(2016, 9930616), (2017, 9857426), (2018, 9838892)]

In [179]:
dict(zip(year[-3:], population[-3:]))

{2016: 9930616, 2017: 9857426, 2018: 9838892}

**인덱스가 홀수인 요소 출력하기**
- 다음 소스 코드를 완성하여 튜플 n에서 인덱스가 홀수인 요소들이 출력되게 만드세요.

In [180]:
n = -32, 75, 97, -10, 9, 32, 4, -15, 0, 76, 14, 2

In [182]:
n[1:len(n):2]

(75, -10, 32, -15, 76, 2)

In [183]:
n[1::2]

(75, -10, 32, -15, 76, 2)

**리스트의 마지막 요소 5개 삭제하기**
- 표준 입력으로 숫자 또는 문자열 여러개가 입력되어 리스트 x에 저장됩니다(입력되는 숫자 또는 문자열의 개수는 정해져 있지 않음). 
- 리스트 x의 마지막 요소 5개를 삭제한 뒤 튜플로 출력되게 만드세요.

In [193]:
x = input().split()
del x[-5:]
print(tuple(x))

a c d e f g
('a',)

# Workshop

**주민번호로 성별 구분하기**
- 아래와 같은 홍길동씨의 주민번호를 대쉬(-) 기호 전후로 쪼개보자. 성별이 남자면 'male', 여자면 'female'을 출력하세요.

In [194]:
pin= '881204-1068234' # 1일 경우 남자, 2일 경우 여자

In [196]:
pin_list = pin.split('-')

In [198]:
# first = pin_list[0]
second = pin_list[1]

In [199]:
second

'1068234'

In [200]:
second[0]

'1'

In [201]:
if second[0] == '1':
    print('male')
else:
    print('female')

male

In [203]:
# 최종코드
if pin.split('-')[1][0] == '1':
    print('male')
else:
    print('female')

male

**핸드폰 번호 가리기**
- 전화번호가 문자열 phone_number로 주어졌을 때, 전화번호의 뒷 4자리를 제외한 나머지 숫자를 전부 *으로 가린 문자열을 출력하세요.

- 제한 조건
- s는 길이 4 이상, 20이하인 문자열입니다.
- 입출력 예
```
phone_number 출력 문자열
"01033334444" "*******4444"
"027778888" "*****8888"
```

In [209]:
phone_number = input()

01033334444

In [210]:
phone_number

'01033334444'

In [211]:
phone_number[:-4]

'0103333'

In [212]:
len(phone_number[:-4])

7

In [217]:
s1 = '*' * len(phone_number[:-4])
print(s1)
s2 = phone_number[-4:]
print(s2)

*******
4444

In [219]:
# 최종코드
phone_number = input()
s1 = '*' * len(phone_number[:-4])
s2 = phone_number[-4:]
s1 + s2

01023456789

'*******6789'

# 딕셔너리

- 딕셔너리 = {키1:값1, 키2:값2, 키3:값3, ...}

In [220]:
year_pop = {2016: 9930616, 2017: 9857426, 2018: 9838892}

In [221]:
type(year_pop)

dict

In [ ]:
# 딕셔너리에서는 어떤 값을 찾아가기 위한 유일한 수단이 '키'가 됨
# (Note.) 리스트, 튜플, 문자열 등에서는 어떤 값을 찾아기 위해 원소의 위치를 직접 계산을 했었음

In [222]:
# 2016년도의 population을 알고 싶다면
year_pop[2016]

9930616

In [ ]:
# 딕셔너리에서는 어떤 값을 찾아가기 위한 유일한 수단 '키'이므로
# '키'는 중복이 되어서는 안됨

In [223]:
# 아래와 같이 키 값을 중복(2016)해서 사용해도 문법적으로 오류가 안나지만,
# 실제로 중복된 키(2016)로 색인했을 때 올바른 값을 얻어낼 수 없음
# 중복값중 뒤에 있는 값이 조회가 됨
year_pop = {2016:10000000, 2016: 9930616, 2017: 9857426, 2018: 9838892}

In [224]:
year_pop[2016]

9930616

In [225]:
# 딕셔너리는 순서가 있는 자료형이 아님
year_pop = {2016: 9930616, 2017: 9857426, 2018: 9838892}
year_pop

{2016: 9930616, 2017: 9857426, 2018: 9838892}

In [ ]:
# 딕셔너리의 키 : 문자열, 실수, 불, 튜플 등은 사용할 수 있음
# 딕셔너리의 값 : 리스르, 딕셔너리 포함에서 모든 자료형을 사용할 수 있음

In [ ]:
# 딕셔너리의 키 값으로는 일기가 가능한 자료형이 와야 함(리스트, 딕셔너리 올 수 없음)

In [226]:
lux = {'heath' : 490, 'melee':500, 'armor':18.72}
type(lux)

dict

In [227]:
lux = {[1, 2, 3] : 490, 'melee':500, 'armor':18.72} # 딕셔너리의 키에 리스트가 들어간 경우

TypeError: unhashable type: 'list'

In [228]:
lux = {{'k':'v'} : 490, 'melee':500, 'armor':18.72} # 딕셔너리의 키에 딕셔너리가 들어간 경우

TypeError: unhashable type: 'dict'

In [229]:
lux = {(1, 2) : 490, 'melee':500, 'armor':18.72} # # 딕셔너리의 키에 튜플이 들어간 경우 (ok)

**빈 딕셔너리 만들기**
- 딕셔너리 = {}
- 딕셔너리 = dict()

In [230]:
x = {}
type(x)

dict

In [231]:
x = dict()
type(x)

dict

**dict() 로 딕셔너리 만들기
- 딕셔너리 = dict(zip(키1, 키2], [값1, 값2])
- 딕셔너리 = dict([(키1, 값1), (키2, 값2)])

In [234]:
dict(zip(['health', 'melee', 'armor'], [490, 500, 18.72]))

{'health': 490, 'melee': 500, 'armor': 18.72}

In [235]:
dict([('health', 490),('melee', 500) ,('armor', 18.72)])

{'health': 490, 'melee': 500, 'armor': 18.72}

**딕셔너리의 키로 값 조회하기**
- 딕셔너리[키]

In [236]:
year_pop[2016]

9930616

In [238]:
lux['armor']

18.72

**딕셔너리의 값 변경하기**
- 딕셔너리[키] = 값

In [239]:
lux

{(1, 2): 490, 'melee': 500, 'armor': 18.72}

In [240]:
lux['melee'] = 1000
lux

{(1, 2): 490, 'melee': 1000, 'armor': 18.72}

In [241]:
lux['attack_speed'] = 500
lux

{(1, 2): 490, 'melee': 1000, 'armor': 18.72, 'attack_speed': 500}

In [242]:
lux['power'] # 없는 키로 조회했을 경우 에러

KeyError: 'power'

**딕셔너리에 키가 있는지 확인하기**
- 키 in 딕셔너리

In [243]:
a = [1, 2, 3]
1 in a

True

In [244]:
'melee' in lux

True

In [245]:
'power' in lux

False

**딕셔너리 키 개수 구하기**
- len(딕셔너리)

In [246]:
lux

{(1, 2): 490, 'melee': 1000, 'armor': 18.72, 'attack_speed': 500}

In [247]:
len(lux)

4

# Workshop

**게임 캐릭터 능력 저장**
- 표준 입력으로 문자열 여러 개와 숫자(실수) 여러 개가 두 줄로 입력됩니다. 입력된 첫 번째 줄은 키, 두 번째 줄은 값으로 하여 딕셔너리를 생성한 뒤 딕셔너리를 출력하는 프로그램을 만드세요. input().split()의 결과를 변수 한개에 저장하면 리스트로 저장됩니다.

```
(입력예)
health health_regen mana mana_regen
575.6 1.7 338.8 1.63

(결과)
{'health':575.6, 'health_regen':1.7, 'mana':338.8, 'mana_regen':1.63}
```

In [248]:
key_list = input().split()
val_list = input().split()

dict(zip(key_list, val_list))

health health_regen mana mana_regen
576.6 1.7 338.8 1.63

**교통 카드 시스템 만들기**

표준 입력으로 나이(만 나이)가 입력됩니다(입력 값은 7 이상 입력됨). 교통카드 시스템에서 시내버스 요금은 다음과 같으며 각 나이에 맞게 요금을 차감한 뒤 잔액이 출력되게 만드세요(if, elif 사용). 현재 교통카드에는 9,000원이 들어있습니다. 

- 어린이(초등학생, 만 7세 이상 12세 이하): 650원 
- 청소년(중∙고등학생, 만 13세 이상 18세 이하): 1,050원 
- 어른(일반, 만 19세 이상): 1,250원

```
age = int(input()) 
balance = 9000 # 교통카드 잔액 
________________ 
________________ 
________________ 
print(balance)
```

In [253]:
age = int(input())
balance = 9000

if 7 <= age <= 12: # 어린이
    balance -= 650
elif 13 <= age <= 18: # 청소년
    balance -= 1050
elif age >= 19: # 어른
    balance -= 1250
else:
    print('오류입니다.')
print(balance)

5
오류입니다.
9000